{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-12 text-center">
    <h1>
      <b>Ace of Diamond</b>
    </h1>
    <div class="mt-3">
      <img src="{% static 'img/home.jpg' %}" height="400px" alt="Generic placeholder image">
    </div>
    <h3 class="mt-3">
      Eijun Sawamura is a pitcher who joins an elite school with a brilliant catcher named Kazuya Miyuki. Together with the rest of the team, they strive for Japan's storied Koushien championships through hard work and determination.
    </h3>
  </div>

{% endblock content %}